h1 {
	color: #004169;
	text-align: center;
	font-family: 'Cuprum', sans-serif;
    font-size: 50px;
}

h5 {
	color: #004169;
	text-align: left;
	font-family: 'Cuprum', sans-serif;
	font-size: 30px;
}

h2 {
  color: #004169;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  font-size: 30px;
}

p {
  color: #004169;
  text-align: center;
  font-family: 'Cuprum', sans-serif;
  font-size: 20px;
}

#add {

	text-align: left;
}

button a {
	color: #ffffff;
}

#add-link-div {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

#AO {

	float: right;
}

button {
  background: #E0E0E0;
  /*background-image: -webkit-linear-gradient(top, #00ffff, #004169);
  background-image: -moz-linear-gradient(top, #00ffff, #004169);
  background-image: -ms-linear-gradient(top, #00ffff, #004169);
  background-image: -o-linear-gradient(top, #00ffff, #004169);
  background-image: linear-gradient(to bottom, #00ffff, #004169);
  -webkit-border-radius: 3;
  -moz-border-radius: 3;*/
  border-radius: 5px;
  font-family: 'Cuprum', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 13px 22px 14px 22px;
  border: solid #000000 3px;
  text-decoration: none;
  margin: 5px
}

button.hover {
  background: #2e29ad;
  background-image: -webkit-linear-gradient(top, #2e29ad, #00ffa2);
  background-image: -moz-linear-gradient(top, #2e29ad, #00ffa2);
  background-image: -ms-linear-gradient(top, #2e29ad, #00ffa2);
  background-image: -o-linear-gradient(top, #2e29ad, #00ffa2);
  background-image: linear-gradient(to bottom, #2e29ad, #00ffa2);
  text-decoration: none;
}